/*@author: Emre Kavak
 *05/12/2022
 *Css applied to nav bar, home page and Visa Requirement Page
 */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css2?family=Mada&display=swap');

 *{
     box-sizing: border-box; /* when add padding or any border onto an 
     element, it doesn't actually affect the width of it.*/
     margin: 0;
     padding: 0;
 }
 
 .hm-body {
     font-family: 'Mada', sans-serif !important;
     color: #222;
     padding-bottom: 10px !important;
     overflow-x: hidden;
 }
 
 .hm-container {
     max-width: 1200px !important;
     margin: 0 auto !important;
 }
 
 .hm-nav {
     position: fixed !important;
     background-color: #222;
     top: 0 !important;
     left: 0 !important;
     right: 0 !important;
     transition: all 0.3s ease-in-out;
 }
 
 .hm-nav .hm-container {
     display: flex ;
     justify-content: space-between !important; /*to give space for each item*/
     align-items: center !important;
     padding: 20px 0 !important; /*avoid boostrap apply*/
     transition: all 0.3s ease-in-out !important; /*when scrolling it will give nice ease transation effect*/
 }
 
 .hm-nav .hm-ul {
     display: flex;
     list-style-type: none !important;
     align-items: center !important;
     justify-content: center !important;
 }
 
 .hm-nav .hm-a {
     color: #fff;
     text-decoration: none;
     padding: 7px 15px !important;
     transition: all 0.3s ease-in-out;
 }
 
 .hm-nav.active {
     background: #fff; /*when is page scrolled the color of nav bar will change*/
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
 }
 
 .hm-nav.active .hm-a { /**/
     color: #000;
 }
 
 .hm-nav.active .hm-container { /*when it's not displaying padding will be smaller*/
     padding: 10px 0 !important;
 }
 
 .hm-nav a.current, 
 .hm-nav .hm-a:hover {
     color: #c0392b;
     font-weight: bold;
 }
 .hm-container .hm-icon{
     display: none;
 }
 
 /* When the screen is less than 920 pixels wide, hide all links, except for the first one ("logo"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 920px) {
     ul li:not(:last-child) {
         display: none;
         transition: all 0.3s ease-in-out;    
     }
     
     .hm-nav .hm-icon{
         display: block !important;
         color: #fff;
         width: 25px;
         height: 25px;
         margin-right: 45px;
         font-size: 25px;
     }
 
     .hm-nav.media .hm-icon{
         font-size: 15px;
         margin-right: 15px
     }
     .hm-nav.media li{
         display: block;
         font-size: xx-small;
         list-style-type: none;
         /*align-items: center;*/
         /*justify-content: center;*/
         /*width: 100vh;*/
     }
 
     .hm-nav.media .hm-container{
         display: block;
         padding: 40px 0; /*check*/
         transition: cubic-bezier(0.075, 0.82, 0.165, 1);
         /*justify-content: space-around; /*if use, content stay up */
         /*flex-wrap: wrap !important;*/
     }
   }
 
 .hm-hero {
     background-image: url('https://images.unsplash.com/photo-1543333995-a78aea2eee50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom center;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
     margin-bottom: 20px;
     z-index: -2;
 }
 
 .hm-hero::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: -1;
 }
 
 .hm-hero .hm-logo {
     font-size: 46px;
     margin: -20px 0 20px;
 }
 
 .hm-pcontainer {
    display: flex;
    width: 100vw;
    background-color: #AFEEEE;
    opacity: 0.9;
 }
 .hm-panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer; /*cursor will be pointing when hovering over*/
    flex: 0.6;
    margin: 10px; /*seperating them to each other*/
    position: relative; /**/
    transform: flex 0.7 ease-in;
}

.hm-panel.active {
    flex: 4;
}

@media (max-width: 920px) {
    .hm-container{
        width: 100vw;
    }

    .hm-panel:nth-of-type(4),
    .hm-panel:nth-of-type(5){
        display: none; /*when the screen small it wont display 4th nd 5th*/
        transition: all 0.3 ease-in-out;
    }
}

 .hm-hero .hm-p {
     font-size: 20px;
     letter-spacing: 1px;
 }
 
.main-content .hm-h2,
 .main-content .hm-h3 {
     font-size: 150%;
     margin: 20px 0;
 }
 
 .main-content .hm-p {
     color: #555;
     line-height: 30px;
     letter-spacing: 1.2px;
 }

 /*------Visa Requirements----------------*/
 .visa-body{
    background-image: url(img/visareq.webp);  
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
    overflow-y: hidden;
 }

 .list-group li {
    color: black;
    font-family: 'Mada', sans-serif;
    display: absolute;
    background-color: rgba(230, 220, 220, 0.3) !important;
 }

 ul.list-group {
    list-style-type: square !important;
 }

 .bootstrap-iso .list-group{
    padding: 0px 50px;
    background-color: transparent;
 }

 .visa-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.visa-button {
    background-color: #c0392b !important;
    color: #fff !important;
    border: 1px #0392 !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    padding: 20px 30px !important;
    overflow: hidden !important;
    margin: 10px 15px !important;
    position: flex !important;
    border-radius: 25px !important;
}

.visa-button:focus {
    outline: none;
}

.visa-button:hover {
    background-color: #fff !important;
    color: #000 !important;
    transition: 0.3 ease-in-out !important;
    /* color: #000 !important; */
    /*opacity: 0.5 !important;*/
    
}


.visa-container{
    display: flex;
}

.visa-container .visa-column {
    width: 500px;
    margin: 10px;
    border: 3px;
    z-index: 4;
}

.visa-column2 {
    align-self: center;
}

@media screen and (max-width: 920px) {
    .visa-container .visa-column{
        display: none;
    }
}

.visa-column{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    width: 100vh;
    filter: blur(0px);
}


 /*-----------------------------------------------------------------------Emre CSS ends---------------------------------------------------------------------------------*/

.gi-body {
    background-image: url('https://images.unsplash.com/photo-1543333995-a78aea2eee50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    height: 100%;
}

.card-wrapper {
    margin-top: 12%;
    margin-bottom: 5%;
    /* height: max-content; */
}

.card-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 130px;
    text-align: center;
    display: block;
}

.card-style {
    text-align: center;
    border-radius: 10px;
    border: initial;
}

.card-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    margin-top: 5px;
    letter-spacing: normal;
}

.card-text {
    /* position: initial; */
    font-size: medium;
    color: #000;
}

.salary-cards-section {
    background-image: url(../Web-Design-class/);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
}


.salary-body {
    background-image: url('https://images.unsplash.com/photo-1543333995-a78aea2eee50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-wrapper .salary{
    height: 13%;
}
 
/*-----------------------------------------------------------------------Miso CSS ends---------------------------------------------------------------------------------*/


#eligibility-requirement {
  overflow: scroll;
  background-image: url('img/bg-eligibility.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

#eligibility-requirement .main-box {
  margin: 30px 0px;
  animation: fadeIn 0.8s linear;
  color: whitesmoke;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 80%;
  height: 60%;
  margin-top: 20px;
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
}

#eligibility-requirement .main-box-text,
#employment .main-box-text {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#eligibility-requirement .main-box-text .main-box__h2 {
  margin: 10px 0px 20px 0px;
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid whitesmoke;
  animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
}

@keyframes cursor {
  0%, 100% { 
    border-color: whitesmoke; 
  }
}

@keyframes text {
  0% { 
    width: 0; 
  }
  100% { 
    width: 20ch; 
    color: tomato;
  }
}

#eligibility-requirement .main-box-text .main-box__p {
  font-size: 20px;
  text-align: left;
  line-height: 150%;
}

#eligibility-requirement .main-box-text .main-box__p b {
  color: tomato;
}

#eligibility-requirement .link-btn a {
  text-decoration: none;
  color: inherit;
}

#eligibility-requirement .link-btn{
  margin-top: 5px;
  background:tomato;
  color:whitesmoke;
  border:none;
  position:relative;
  height:50px;
  width: 300px;
  font-size:20px;
  padding:0 5px;
  cursor:pointer;
  transition:800ms ease all;
  animation: fadeIn 0.8s linear;
  outline:none;
}
#eligibility-requirement .link-btn:hover{
  background:whitesmoke;
  color:tomato;
  font-weight: bolder;
}
#eligibility-requirement .link-btn:before,
#eligibility-requirement .link-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: tomato;
  transition:500ms ease all;
}
#eligibility-requirement .link-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#eligibility-requirement .link-btn:hover:before,
#eligibility-requirement .link-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

#employment {
  overflow: scroll;
  background-image: url('img/bg-employment.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

#employment .slide_wrap {
  margin-top: 50px;
}

@keyframes orderAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
    color: tomato;
  }
  100% {
    transform: none;
  }
}

#employment .main-box__order {
  animation: orderAnimation 1.5s infinite;
  color: whitesmoke;
  font-size: 32px;
}

.main-box-text .main-box__h2 {
  margin: 10px 0px 20px 0px;
  font-size: 24px;
}

.main-box-text .main-box__p {
  margin: 10px 0px 20px 0px;
  font-size: 18px;
  text-align: lefts;
}


.slide {
  /* layout */
  display: flex;
  flex-wrap: nowrap;
  /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
  overflow: hidden;

  /* position */
  /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
  position: relative;

  /* size */
  width: 100%;
  height: 80%;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.slide_item {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: c;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 70%;
  /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
  flex-shrink: 0;

  /* transition */
  transition: left 0.15s;

  animation: fadeIn 0.8s linear;
  color: whitesmoke;
  background-color:rgba(0, 0, 0, 0.4);
}

.slide_item {
  animation: fadeIn 0.8s linear;
  color: whitesmoke;
  background-color:rgba(0, 0, 0, 0.4);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  height: 70%;
  overflow: auto;
  border-radius: 5px;
}

.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(80% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: #cccc;
  cursor: pointer;
}

.slide_prev_button {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.slide_next_button {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.slide_prev_button:hover,
.slide_next_button:hover {
  background-color: tomato;
}

/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 0;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* color of other text box */
  color: lightpink;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* color of current textbox */
  color: tomato;
}

@media screen and (max-width: 920px) {
  #eligibility-requirement .main-box-text .main-box__p {
    font-size: 14px;
  }

  #eligibility-requirement .main-box-text .main-box__h2 {
    font-size: 20px;
  }

  #eligibility-requirement .link-btn{
    width: 100px;
    font-size: 14px;
  }

  .slide-content .main-box__p{  
    font-size: 12px;
  }

  #employment .main-box__order {
  font-size: 24px;
  }

  .main-box-text .main-box__h2 {
    font-size: 18px;
  }

  .main-box-text .main-box__p {
    font-size: 14px;
  }
}

/*-----------------------------------------------------------------------Jinnie CSS ends---------------------------------------------------------------------------------*/
